<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(titulo='Acceso denegado')}"></head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <h1 class="display-4">403</h1>
            <p class="fs-5">No tiene permisos para acceder a esta página.</p>
            <a th:href="@{/}" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
</div>
</body>
</html>
